@using X.PagedList
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@model ECommerce_Template_MVC.Models.ViewModel.ProductsViewModel

@{
    ViewData["Title"] = "Shop";
}


<form id="categoryForm" method="get" action="@Url.Action("Shop")">
    <input type="hidden" name="types" id="categoryInput" value="" />
</form>
<div class="content-section">
    <div class="container">
        <div class="shop-page-wrapper">
            <div class="shop-category-menu">
                <h2 class="category-menu-heading">Shop by Category</h2>
                <div class="w-dyn-list">
                    <div role="list" class="w-dyn-items">
                        @foreach (var item in Model.ProductTypes)
                        {
                            <div role="listitem" class="category-menu-item w-dyn-item">
                                <a href="#" class="btn dark outline cat-menu w-button" onclick="submitCategoryForm('@item');">@item</a>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="shop-list">
                <div class="products-list-wrapper w-dyn-list">
                    <div role="list" class="products-list w-dyn-items">
                        @foreach (var item in Model.Products)
                        {
                            <div role="listitem" class="w-dyn-item">
                                <div class="shop-item-wrapper">
                                    <a href="#" class="shop-item-link-wrapper w-inline-block">
                                        <div class="shop-image tumbler-1">
                                            @if (item.Images.Any())
                                            {
                                                <img class="shop-image mb-0" src="@item.Images[0].ImageUrl">
                                            }
                                            else
                                            {
                                                // Puedes mostrar una imagen por defecto o algún otro contenido si no hay imágenes disponibles
                                                <img class="shop-image mb-0" src=~/images/chat-alt.svg>
                                            }                                            <div class="pill-2 badge primary sale">Sale</div>
                                        </div>
                                        <div class="shop-details-wrapper">
                                            <div class="shop-details-left">
                                                <div class="shop-item-name">@item.Name</div>
                                                <div class="price-wrapper">
                                                    <div class="shop-item-price">@item.Price</div>
                                                    <div class="shop-item-price compare"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="shop-button-wrapper">
                                        <a href="#" class="btn w-button">Details</a>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                    @if (Model.Products.Count > 3)
                    {
                        <div class="pagination">
                            @Html.PagedListPager(Model.Products, page => Url.Action("Shop", new { page }), new PagedListRenderOptions() {
                        ContainerDivClasses = new[] { "pagination" }
                        })
                        </div>
                    }


                    @if (Model.Products.Count == 0)
                    {
                        <div class="w-dyn-empty">
                            <div>No items found.</div>
                        </div>
                    }

                </div>

            </div>


        </div>
    </div>
</div>

<script>
    function submitCategoryForm(category) {
        document.getElementById('categoryInput').value = category;
        document.getElementById('categoryForm').submit();
    }
</script>
