@model ECommerce_Template_MVC.Models.ViewModel.ShoppingCartVM

<h2>Carrito de Compras</h2>

<div id="cartItemsContainer">
    @if (User.Identity.IsAuthenticated)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ListCart)
                {
                    <tr>
                        <td>@item.Product.Name</td>
                        <td>@item.Count</td>
                        <td>@item.Price.ToString("C")</td>
                        <td>@(item.Count * item.Price)</td>
                    </tr>
                }
            </tbody>
        </table>

        <h3>Total General: @Model.ListCart.Sum(x => x.Count * x.Price).ToString("C")</h3>
    }
</div>


    <script src="~/js/ShowCartFromLocalStorage.js"></script>


