@model IEnumerable<Shippo.Rate>

<h2>Select a Shipping Option</h2>

<form method="post" action="SelectShipping">
    <input type="hidden" name="id" value="@ViewBag.OrderId" />
    @foreach (var rate in Model)
    {
        <div class="shipping-option">
            <input type="radio" name="selectedRate" value="@rate.ObjectId" />
            <span class="provider">@rate.Provider</span>
            <span class="price">$@rate.Amount</span>
            <span class="service-name">@rate.Servicelevel.Name</span>            
            <span class="description">@rate.DurationTerms APRES L'EXPEDITION (1-2 jour)</span>
        </div>
    }

    <input type="submit" value="Confirm Shipping Option" />
</form>
